#!/usr/bin/make -f
# Jose Luis Rivas <ghostbar38@gmail.com
# This script is for public domain, feel free to reuse it in any way

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_MAKE_INSTALL_TARGET := install prefix=$(CURDIR)/debian/pgpdump/usr
